*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(238, 238, 238);
    z-index: 9;
}

.material-symbols-outlined{
    color: black;
}
.material-symbols-outlined:hover{
    color: #8b2727;
}
.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 100px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width:500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
}

.nav-items a{
    margin-left: 20px;
}
 .nav-items a span{
    width: 30px;
 }

 .links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
    gap: 20px;
    font-weight: 600;
 }
.link{
    text-transform: capitalize;
    padding: 0 10 px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.3;
    transition: 0.5s;
}
.link:hover{
    opacity: 1;
}

.footer1{
    color: rgb(212, 212, 212);
    background-color: black;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 20px;
  }
  
  .footer2{
    padding-top: 20px;
    text-align: center;
    background-color: black;
    border-bottom: 1px solid grey;
  }
  .footer2 a img{
    padding: 20px;
    width: 80px;
  }
  .icon-container{
    justify-content: center;
    display: flex;
  }
  .footer2 h2{
    color: gray;
  }
  .footer2 h2 span{
    color: #8b2727;
  }
  .icon-item a img{
    width: 80px;
    transition: 0.3s ease-in-out;
  }
  .icon-container .icon-item{
    flex-basis: 100%;
    position: relative;
  }
  .icon-item:hover a img{
    width: 34%;
  }
  
  .footer3{
    padding: 50px;
    padding-left: 150px;
    width: 100%;
    color: #a9a9a9;
    background-color: black;
    border-bottom: 1px solid #a9a9a9;
  }
  
  .footer-links-container{
    display: flex;
    gap: 200px;
    justify-content: flex-start;
    padding: 40px 0;
  }
  .footer-link-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer3 a{
    color: #a9a9a9;
    text-decoration: none;
  }
  
  
  .footer4{
    background-color: black;
    padding: 10px;
    display: flex;
    gap: 1060px;
    border-bottom: 1px solid #a9a9a9;
  }
  .right-half{
    text-align: right;
    font-size: 10px;
    color: rgb(182, 182, 182);
  
  }
  .left-half{
    padding: 5px;
    outline: none;
    border: none;
    background-color: #ddcfcf;
    border-radius: 10px;
  }
  
  .footer-link-items a:hover{
    color: #8b2727;
    transition: 0.3sec;
  }


  #wrap{
    width: 100%;
    padding-left: 40px;
    margin: 40px auto;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
    margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
    margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
    margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
    margin-right: 0;
}
#columns figure:hover{
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    transform: scale(1.1);

}

div#columns figure {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 0px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    padding: 60px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

div#columns figure img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:60px;
  font-weight:600;
  text-overflow:ellipsis;
}

a.button{
  padding:10px;
  background:salmon;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #ff6536;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
  background:#ff6536;
  border-bottom:3px solid salmon;
  color:#f1f2f3;
}

.product-intro h1{
  color: #8b2727;
  letter-spacing: 0.2rem;
  font-size: 2 rem;
  font-weight: bolder;
}
.product-intro{
  padding: 50px;
  text-align: center;
}
.product-intro h1 span{
  color: #223757;
}
.product-intro p{
  color: grey;
  margin: 15px 0;
  padding-bottom: -20%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: salmon;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.section-3{
  padding-bottom: 50px;
  display: flex;
}

.section-1, .section-2, .section-3{
  border-bottom: 1px solid rgb(211, 211, 211);
}